# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Changer/proj.android-studio
Changer/proj.win32
Changer/proj.android
Changer/proj.win8.1-universal
Changer/proj.ios_mac
Changer/cocos2d
Changer/proj.linux
Changer/proj.tizen
Changer/proj.win10
Changer
.gitignore.swp
